/*Create a Column Gap Using grid-column-gap
Создайте зазор между столбцами, используя grid-column-gap
До сих пор в созданных вами сетках все столбцы были плотно прижаты друг к другу. Иногда вам нужен промежуток между столбцами. Чтобы добавить зазор между столбцами, используйте свойство grid-column-gap следующим образом:

зазор столбца сетки: 10 пикселей;
Это создает 10 пикселей пустого пространства между всеми нашими столбцами.*/
<style>
  .d1{background:LightSkyBlue;}
  .d2{background:LightSalmon;}
  .d3{background:PaleTurquoise;}
  .d4{background:LightPink;}
  .d5{background:PaleGreen;}

  .container {
    font-size: 40px;
    min-height: 300px;
    width: 100%;
    background: LightGray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* Only change code below this line */
grid-column-gap: 20px;
   
    /* Only change code above this line */
  }
</style>

<div class="container">
  <div class="d1">1</div>
  <div class="d2">2</div>
  <div class="d3">3</div>
  <div class="d4">4</div>
  <div class="d5">5</div>
</div>